{% extends 'articles/base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Visste du at...?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget justo ut mauris porttitor porttitor et eu massa. Sed aliquet augue quis nisi bibendum tristique posuere et tortor. Etiam sodales, metus id commodo imperdiet, nisl metus pharetra erat, sit amet imperdiet massa arcu sit amet quam. Phasellus leo mi, faucibus vitae est in, laoreet volutpat justo. Cras ornare blandit lectus, a venenatis mi varius vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce interdum justo purus.</p>
    <p><a href="" class="btn btn-warning btn-lg">Trykk her</a></p>
  </div>
</div>

{% endblock %}
