<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Comic Page App</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default navbar-btn">Home</button>
                    <button type="button" class="btn btn-default navbar-btn">First</button>
                    <button type="button" class="btn btn-default navbar-btn">Previous</button>
                    <button type="button" class="btn btn-default navbar-btn">Next</button>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
