
body {
    background-color: white;
}
.mytext {
  text-align: center;
  width: 600px;
  border: 1px solid #000000;
  text-shadow: 1px 1px black;
  font-size: 20px;
}

.top_area {
  height: 100px;
}

.bottom_area {
  height: 200px;
}

.menu_one {
}

.menu_two {
}

.middle_menu {
}

.open_left {
}

.open_right {
}
